.cio-agent-overview__category-section {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--cio-spacing-xl);
  border-bottom: 1px solid var(--cio-color-border);
}

.cio-agent-overview__category-section .cio-agent-overview__section__description {
  color: #262626;
}

.cio-agent-overview__category-section__view-suggestions {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--cio-font-family);
  font-size: var(--cio-font-size-sm);
  font-weight: var(--cio-font-weight-medium);
  color: #262626;
  line-height: var(--cio-line-height-sm);
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  flex-shrink: 0;
  margin-top: var(--cio-spacing-xs);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.cio-agent-overview__category-section__view-suggestions svg {
  color: var(--cio-color-muted);
}

.cio-agent-overview__category-section__view-suggestions:hover {
  color: var(--cio-color-hover-accent);
}
